.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .dashboard-column {
    width: calc(20% - 20px);
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    border-right: 1px solid black;
    padding-right: 20px;
    margin-right: 20px;
  }
  
  .dashboard-column h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .dashboard-box {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: move;
    animation: pulse 1s ease-in-out 3s;
    font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
  
  .dashboard-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dashboard-box-header svg {
    cursor: pointer;
    font-size: 30px;
  }
  
  .dashboard-box-body {
    font-size: 16px;
  }
  
  .dashboard-box-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-style: dashed;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .dashboard-box.dashboard-box-add:hover {
    transform: scale(1.05);
  }

  .dashboard-box.bookmarked {
    background: linear-gradient(to bottom, #ff7f7f, #ff0000);
    transition: transform 0.3s ease-in-out;
  }
  
  .dashboard-box.applied {
    background: linear-gradient(to bottom, #ffd480, #ff9900);
    transition: transform 0.3s ease-in-out;
  }
  
  .dashboard-box.interviewing {
    background-image: linear-gradient(to bottom right, #ff8c00, #ff4500);
    transition: transform 0.3s ease-in-out;
  }
  
  
  .dashboard-box.noOffer {
    background: linear-gradient(to bottom, #d9b3ff, #6600cc);
    transition: transform 0.3s ease-in-out;
  }
  
  
  .dashboard-box.offer {
    background-image: linear-gradient(to right, #00cc00, #33cc33, #66cc66, #99cc99, #cccccc, #99cc99, #66cc66, #33cc33, #00cc00);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

  
  .dashboard-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
  
 .dashboard-box.bookmarked,
 .dashboard-box.applied,
 .dashboard-box.interviewing,
 .dashboard-box.noOffer {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

