nav {
  background-color: #333;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: grey;
  background-color: none;
}

.login-btn,
.logout-btn {
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}

.login-btn:hover,
.logout-btn:hover {
  background-color: grey;
}

.login-btn {
  position: absolute;
  right: 124px;
}

.logout-btn {
  position: absolute;
  right: 20px;
}




