/* Search component container */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    margin-top: 10px;
  }
  
  /* Search form - Adjust margin,padding and margin top to move boxes*/
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -300px;
    padding: 350px;
    margin-top: -700px;
  }
  
  /* Search input */
  input[type="text"] {
    width: 1200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Search button */
  button[type="submit"] {
    font-size: 16px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Location filter */
  #location-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Location filter label */
  #location-filter label {
    font-size: 15px;
    margin-right: 5px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  /* Location filter input */
  #location-filter input[type="text"] {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
  }
  
  /* Search input placeholder */
  input[type="text"]::placeholder {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Custom dropdown styles */
select {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
  }
  
  
/* Results container */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
  }
  
  /* Result box */
  .result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    margin-top: -20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    margin: 15px;
  }
  
  #result-count {
   font-weight: bold;
   font-size: 20px; 
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 90px;
   margin: 20px;
  }

  #Applynow a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5f5f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
  }
  
  #Applynow a:hover {
    background-color: #e53e3e;
  }
  
  
  /* Result box hover effect */
  .result-box:hover {
    transform: scale(1.05); /* Adjust the scaling factor as desired */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #00b3b3, #008080); /* Adjust the gradient colors as desired */
  }
  
  /* Result box content */
  .result-box h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .result-box p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  #Remote,
  #JobPosted,
  #JobExpiry {
    font-weight: bold;
  }
  
  

  
  
  
  
