.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: white;
  color: #282c34;
}


h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}

h5 {
  font-size: 24px;
}

#homepagebutton {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* .landingpic {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
} */

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background-color: #fff;
}

.landing-page__content {
  flex-basis: 50%;
}

.landing-page__title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.landing-page__subtitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.landing-page__buttons {
  display: flex;
  justify-content: flex;
}

.landing-page__button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.5rem;
  border-radius: 25px;
  margin-left: 1.5rem;
  cursor: pointer;
}

.logo img {

    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
  }
