.signup-form-header {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

.signup-form-text {
    font-size: 30px;
    color: #aaa;
    margin-bottom: 12px;
    margin-top: -20px;
    text-align: center;
    font-family: 'Square Peg', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* font-family: 'Barlow', sans-serif;
        font-family: 'Lobster', cursive;
        font-family: 'My Soul', cursive;
        font-family: 'Square Peg', cursive; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input::placeholder {
font-family: 'Yanone Kaffeesatz', sans-serif;}


.form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 120px;
}

.form-error {
    display: block;
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
    /* or adjust as necessary */
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="checkbox"] {
    margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        max-width: 800px;
}

.form-group button[type="submit"] {
    margin-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        max-width: 1200px !important;
}


.form-group input[type="password"]{
    width: 100%;
    flex-direction: row;
}


input[type="password"]{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #4b28d8;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 100%;
    /* Center horizontally */
}

button[type="submit"]:hover {
    background-color: grey;
}

    
        